<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JSQRL User Account</title>
</head>
<body>
<div th:if="${#httpServletRequest.userPrincipal.principal.firstName != null}" th:inline="text">
    Hello [[${#httpServletRequest.userPrincipal.principal.firstName}]]! Here is what we know about you:
    <form method="post" action="/users">
    <table>
        <tr><th>Name</th><td><input type="text" name="firstName" th:value="${#httpServletRequest.userPrincipal.principal.firstName}"/></td></tr>
        <tr><th>Email</th><td><input type="text" name="email" th:value="${#httpServletRequest.userPrincipal.principal.email}"/></td></tr>
        <tr><th>SQRL ID</th><td>[[${#httpServletRequest.userPrincipal.principal.identityKey}]]</td></tr>
        <tr><th>SQRL Server Unlock Key</th><td>[[${#httpServletRequest.userPrincipal.principal.serverUnlockKey}]]</td></tr>
        <tr><th>SQRL Verify Unlock Key</th><td>[[${#httpServletRequest.userPrincipal.principal.verifyUnlockKey}]]</td></tr>
    </table>
        <input type="submit" value="Update"/>
    </form>

</div>
<div th:if="${#httpServletRequest.userPrincipal.principal.firstName == null}">
    Hello. It appears we do not have your user information. Please register!<br/>
    <form method="post" action="/users">
        First Name: <input type="text" name="firstName"/><br/>
        E-mail: <input type="text" name="email"/><br/>
        <input type="submit"/>
    </form>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>